@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buttonStyle {
    background: #4aaaa5;
    color: #fff;
    border-radius: 0px 35px 35px 0px;
    height: 4.6em;
    text-transform: uppercase;
    width: 7.5em;
    border: solid .5px #000;
}

@mixin clearButton {
    background: #4aaaa5;
    color: #fff;
    border-radius: 35px;
    height: 4.58em;
    text-transform: uppercase;
    width: 7.5em;
    border: solid .5px #000;
}